@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir.eot") format("eot");
    src: url("../fonts/vazir.ttf") format("truetype"),
        url("../fonts/vazir.woff") format("woff"),
        url("../fonts/vazir.woff") format("woff2");
}

body {
    direction: rtl;
    font-family: "vazir";
}

.nav {
    width: 100%;
    background-color: #f0f0f0; /* یک رنگ پس‌زمینه برای ناوبری انتخاب کنید */
    padding: 10px; /* یک حاشیه دهنده مطلوب از دور ناوبری را انتخاب کنید */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /* این عدد می‌تواند تغییر کند تا ناوبری بالاترین لایه را در صفحه داشته باشد */
}

/* برای اندازه‌های کوچکتر از حداکثر محدوده‌ای که navbar با bootstrap به صورت همیشگی نمایش داده می‌شود، می‌توانید از media query استفاده کنید. */

/* برای مثال، اگر حداکثر عرض صفحه کوچک 768 پیکسل است: */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block; /* تنظیم نمایش همیشگی در اندازه‌های کوچک */
    }
}

.nav-item:hover .nav-link {
    color: blue;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #00bfff, #2539b6);
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-item:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.home-text {
    padding-right: 200px;
}

.home-text p {
    width: 500px;
}

.home-img {
    position: relative;
}

.circle {
    top: 500px;
    right: 200px;
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: -400px;
    z-index: 100;
    border-radius: 50%;
    border-top: 5px solid #FFEB3B;
    /* animation: rotateCircle 3s infinite linear; */
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 400px;
    height: 400px;
    transform: rotate(120deg);
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 5px solid #fbc02d;
}

.circle::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 400px;
    height: 400px;
    transform: rotate(240deg);
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 5px solid #cebc1f;
}

.home-img img {
    /* background: url("picture/person4.png"); */
    /* background-repeat: no-repeat;
    background-position: left bottom; */
    /* background-size: 10%; */
    /* position: absolute;
    bottom: 0; */
    width: 400px;
    height: 400px;
    border-radius: 100%;
    overflow: hidden;
    z-index: 5000;
    margin-top: 100px;
    margin-right: 200px;

}

.home-img::before {
    content: "";
    position: absolute;
    clip-path: polygon(0 0, 48% 0, 100% 100%, 0% 100%);
    background-color: red;
    width: 130%;
    height: 100%;
    z-index: -1;
    left: 0%;
}

.blog-item img {
    height: 250px;
}

.skill {
    transition: background-color 1s ease;
}

.skill:hover {
    transition: background-color 1s ease;
    background-color: #f8f9fa;
}

.skill a {
    transition: background-color 2s ease;
}

.skill:hover a {
    transition: background-color 2s ease;
    color: #fbfbfb;
    text-decoration: none;
    background-color: #371dcb;
}

/* تأثیر hover برای progress-bar ها */
.progress-bar:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    background-color: #2539b6;
    color: #eaff00;
}

/* تأثیر hover برای عنصر با کلاس blog-item */
.blog-item:hover {
    font-weight: bold;
    color: #2539b6;
    background-color: #dce1e7;
}

.blog-item a {
    transition: background-color 2s ease;
}

.blog-item:hover a {
    transition: background-color 2s ease;
    color: #000000;
    text-decoration: none;
    background-color: #8e0303;
}

.blog-item img {
    transition: width 0.5s ease, height 0.5s ease;
}

.blog-item:hover img {
    transition: width 0.5s ease, height 0.5s ease;
    width: 100%;
    height: 270px;
}

.blog-item h4 {
    transition: color 2s ease;
}

.blog-item:hover h4 {
    transition: color 2s ease;
    color: #eb1313;
}

.blog-detailس img {
    height: auto;
}
